.mediaViewInfo {
	--web-view-name: index_scroll;
	--web-view-id: index_scroll;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index_scroll;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index_scroll {
	position: absolute;
	width: 1920px;
	height: 2960px;
	background-color: rgba(252,252,252,0.902);
	overflow: hidden;
	--web-view-name: index_scroll;
	--web-view-id: index_scroll;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group_11_gc {
	position: absolute;
	width: 2083px;
	height: 693px;
	left: -182px;
	top: 971px;
	overflow: visible;
	transition: all 0.2s ease-in-out;
	--web-animation: fadein 0.2s ease-in-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Group_9_gd {
	position: absolute;
	width: 2083px;
	height: 693px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_8_ge {
	position: absolute;
	width: 2083px;
	height: 693px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_7_gf {
	position: absolute;
	width: 2083px;
	height: 693px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_5_gg {
	position: absolute;
	width: 2083px;
	height: 693px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_gh {
	position: absolute;
	width: 2083px;
	height: 693px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Card_gi {
	position: absolute;
	width: 389px;
	height: 685px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_gj {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_gk {
	fill: rgba(255,255,255,1);
	stroke: rgba(62,62,62,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Area_gk {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 693px;
	left: 0px;
	top: 0px;
}
#Card_gl {
	position: absolute;
	width: 389px;
	height: 685px;
	left: 417px;
	top: 0px;
	overflow: visible;
}
#METADATA_gm {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_gn {
	fill: rgba(255,255,255,1);
	stroke: rgba(62,62,62,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Area_gn {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 693px;
	left: 0px;
	top: 0px;
}
#Card_go {
	position: absolute;
	width: 389px;
	height: 685px;
	left: 834px;
	top: 0px;
	overflow: visible;
}
#METADATA_gp {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_gq {
	fill: rgba(255,255,255,1);
	stroke: rgba(62,62,62,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Area_gq {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 693px;
	left: 0px;
	top: 0px;
}
#Card_gr {
	position: absolute;
	width: 389px;
	height: 685px;
	left: 1251px;
	top: 0px;
	overflow: visible;
}
#METADATA_gs {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_gt {
	fill: rgba(255,255,255,1);
	stroke: rgba(62,62,62,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Area_gt {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 693px;
	left: 0px;
	top: 0px;
}
#Card_gu {
	position: absolute;
	width: 389px;
	height: 685px;
	left: 1668px;
	top: 0px;
	overflow: visible;
}
#METADATA_gv {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_gw {
	fill: rgba(255,255,255,1);
	stroke: rgba(62,62,62,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Area_gw {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 693px;
	left: 0px;
	top: 0px;
}
#Card_gx {
	position: absolute;
	width: 345px;
	height: 290px;
	left: 14px;
	top: 25px;
	overflow: visible;
}
#METADATA_gy {
	display: none;
	left: -21px;
	top: -8px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_gz {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 345px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_g {
	position: absolute;
	width: 345px;
	height: 290px;
	left: 439px;
	top: 25px;
	overflow: visible;
}
#METADATA_g {
	display: none;
	left: -21px;
	top: -8px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_g {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 345px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_ha {
	position: absolute;
	width: 345px;
	height: 290px;
	left: 848px;
	top: 25px;
	overflow: visible;
}
#METADATA_ha {
	display: none;
	left: -21px;
	top: -8px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ha {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 345px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_hb {
	position: absolute;
	width: 345px;
	height: 290px;
	left: 1273px;
	top: 25px;
	overflow: visible;
}
#METADATA_hb {
	display: none;
	left: -21px;
	top: -8px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_hb {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 345px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_hc {
	position: absolute;
	width: 345px;
	height: 290px;
	left: 1698px;
	top: 25px;
	overflow: visible;
}
#METADATA_hc {
	display: none;
	left: -21px;
	top: -8px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_hc {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 345px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Icon_hc {
	position: absolute;
	width: 34.774px;
	height: 33.072px;
	left: 336.613px;
	top: 457.928px;
	overflow: visible;
}
#Path_hd {
	fill: rgba(255,215,0,0.8);
	stroke: rgba(62,62,62,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_hd {
	overflow: visible;
	position: absolute;
	width: 36.441px;
	height: 34.739px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_he {
	position: absolute;
	width: 34.774px;
	height: 33.072px;
	left: 751px;
	top: 457.928px;
	overflow: visible;
}
#Path_hf {
	fill: rgba(255,215,0,0.8);
	stroke: rgba(62,62,62,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_hf {
	overflow: visible;
	position: absolute;
	width: 36.441px;
	height: 34.739px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#iPhone_12_hg {
	left: 92px;
	top: 372px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -12.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(58,95,242,1);
}
#Samsung_TV_hh {
	left: 485px;
	top: 372px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -12.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(58,95,242,1);
}
#Mi_laptop_hi {
	left: 934px;
	top: 372px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -12.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(58,95,242,1);
}
#Preethi_Mixer__hj {
	left: 1294px;
	top: 372px;
	position: absolute;
	overflow: visible;
	width: 321px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -12.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(58,95,242,1);
}
#Rectangle_48_hk {
	position: absolute;
	width: 146px;
	height: 53px;
	left: 61px;
	top: 507px;
	overflow: visible;
}
#Rectangle_49_hl {
	position: absolute;
	width: 111px;
	height: 40px;
	left: 152px;
	top: 590px;
	overflow: visible;
}
#Rectangle_48_hm {
	position: absolute;
	width: 147px;
	height: 53px;
	left: 490px;
	top: 507px;
	overflow: visible;
}
#Rectangle_49_hn {
	position: absolute;
	width: 111px;
	height: 40px;
	left: 582px;
	top: 590px;
	overflow: visible;
}
#Rectangle_48_ho {
	position: absolute;
	width: 147px;
	height: 53px;
	left: 920px;
	top: 507px;
	overflow: visible;
}
#Rectangle_49_hp {
	position: absolute;
	width: 111px;
	height: 40px;
	left: 1012px;
	top: 590px;
	overflow: visible;
}
#Rectangle_48_hq {
	position: absolute;
	width: 147px;
	height: 53px;
	left: 1350px;
	top: 507px;
	overflow: visible;
}
#Rectangle_49_hr {
	position: absolute;
	width: 111px;
	height: 40px;
	left: 1442px;
	top: 590px;
	overflow: visible;
}
#Icon_hs {
	position: absolute;
	width: 34.774px;
	height: 33.072px;
	left: 1165.387px;
	top: 457.928px;
	overflow: visible;
}
#Path_ht {
	fill: rgba(255,215,0,0.8);
	stroke: rgba(62,62,62,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_ht {
	overflow: visible;
	position: absolute;
	width: 36.441px;
	height: 34.739px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_hu {
	position: absolute;
	width: 34.774px;
	height: 33.072px;
	left: 1579.774px;
	top: 457.928px;
	overflow: visible;
}
#Path_hv {
	fill: rgba(255,215,0,0.8);
	stroke: rgba(62,62,62,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_hv {
	overflow: visible;
	position: absolute;
	width: 36.441px;
	height: 34.739px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#LG_AC_hw {
	left: 1802px;
	top: 376px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -12.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(58,95,242,1);
}
#Rectangle_48_hx {
	position: absolute;
	width: 148px;
	height: 53px;
	left: 1755px;
	top: 507px;
	overflow: visible;
}
#Rectangle_49_hy {
	position: absolute;
	width: 111px;
	height: 40px;
	left: 1848px;
	top: 589px;
	overflow: visible;
}
#Icon_hz {
	position: absolute;
	width: 34.774px;
	height: 33.072px;
	left: 1997.162px;
	top: 457.928px;
	overflow: visible;
}
#Path_h {
	fill: rgba(255,215,0,0.8);
	stroke: rgba(62,62,62,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_h {
	overflow: visible;
	position: absolute;
	width: 36.441px;
	height: 34.739px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID43_h {
	left: 272px;
	top: 449px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(58,95,242,1);
}
#ID40_h {
	left: 686px;
	top: 449px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(58,95,242,1);
}
#ID45_h {
	left: 1102px;
	top: 449px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(58,95,242,1);
}
#ID41_h {
	left: 1520px;
	top: 449px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(58,95,242,1);
}
#Group_10_h {
	position: absolute;
	width: 58px;
	height: 49px;
	left: 1933px;
	top: 449px;
	overflow: visible;
}
#ID42_h {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(58,95,242,1);
}
#Typography_h {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 72px;
	top: 836px;
	position: absolute;
	overflow: visible;
	width: 675px;
	height: 61px;
	text-align: center;
	font-family: Microsoft New Tai Lue;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(77,114,218,1);
}
#Typography_ia {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 118px;
	top: 1799px;
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 61px;
	text-align: center;
	font-family: Microsoft New Tai Lue;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(77,114,218,1);
}
#Group_13_h {
	position: absolute;
	width: 1920px;
	height: 206px;
	left: 0px;
	top: 2754px;
	overflow: visible;
}
#Rectangle_50_ib {
	opacity: 0.7;
	fill: url(#Rectangle_50_ib);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_50_ib {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 206px;
	left: 0px;
	top: 0px;
}
#_Copyright_Productz_Hunt_Mini__ic {
	left: 612px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 697px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -16.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Why_our_Product_id {
	left: 829px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	--web-animation: fadein 0.2s ease-in-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	line-height: 63px;
	margin-top: -16.5px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(87,85,85,0.91);
}
#Group_27_ie {
	position: absolute;
	width: 1403px;
	height: 693px;
	left: 316px;
	top: 1934px;
	overflow: visible;
}
#Card_if {
	position: absolute;
	width: 1377px;
	height: 693px;
	left: 26px;
	top: 0px;
	overflow: hidden;
}
#Card_ig {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_ih {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ii {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_ij {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 348px;
	top: 0px;
	overflow: visible;
}
#METADATA_ik {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_il {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_im {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 696px;
	top: 0px;
	overflow: visible;
}
#METADATA_in {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_io {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_ip {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 1044px;
	top: 0px;
	overflow: visible;
}
#METADATA_iq {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ir {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_is {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 348px;
	overflow: visible;
}
#METADATA_it {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_iu {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_iv {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 348px;
	top: 348px;
	overflow: visible;
}
#METADATA_iw {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ix {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_iy {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 696px;
	top: 348px;
	overflow: visible;
}
#METADATA_iz {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_i {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_i {
	position: absolute;
	width: 201px;
	height: 201px;
	left: 1044px;
	top: 348px;
	overflow: visible;
}
#METADATA_i {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ja {
	filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 201px;
	height: 201px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Air_conditioners_i {
	left: 0px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 277px;
	white-space: nowrap;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: mainpage_list_scroll_2.html;
	cursor: pointer;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Refrigerators_i {
	left: 361px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 232px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Mobiles_i {
	left: 761px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Computers_i {
	left: 1076px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Health_i {
	left: 80px;
	top: 602px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Household_i {
	left: 362px;
	top: 602px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Fashion_ja {
	left: 752px;
	top: 602px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Books_jb {
	left: 1119px;
	top: 602px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Group_6_jc {
	position: absolute;
	width: 1288px;
	height: 463px;
	left: 316px;
	top: 223px;
	overflow: visible;
}
#Rectangle_46_jd {
	fill: rgba(63,21,104,0.349);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_46_jd {
	position: absolute;
	overflow: visible;
	width: 1288px;
	height: 463px;
	left: 0px;
	top: 0px;
}
#Group_1_je {
	position: absolute;
	width: 402.536px;
	height: 335.433px;
	left: 837.5px;
	top: 63.783px;
	overflow: visible;
}
#Path_1_jf {
	fill: rgba(47,46,65,1);
}
.Path_1_jf {
	overflow: visible;
	position: absolute;
	width: 21.583px;
	height: 37.432px;
	left: 15.19px;
	top: 296.974px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2_jg {
	fill: rgba(0,103,166,1);
}
.Path_2_jg {
	overflow: visible;
	position: absolute;
	width: 36.44px;
	height: 22.71px;
	left: 0px;
	top: 311.994px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_4_jh {
	fill: rgba(242,242,242,1);
}
.Rectangle_4_jh {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 185.324px;
	top: 16.103px;
}
#Rectangle_5_ji {
	fill: rgba(242,242,242,1);
}
.Rectangle_5_ji {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 230.17px;
	top: 16.776px;
}
#Rectangle_6_jj {
	fill: rgba(242,242,242,1);
}
.Rectangle_6_jj {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 202.814px;
	top: 16.776px;
}
#Rectangle_7_jk {
	fill: rgba(242,242,242,1);
}
.Rectangle_7_jk {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 217.165px;
	top: 59.155px;
}
#Rectangle_8_jl {
	fill: rgba(242,242,242,1);
}
.Rectangle_8_jl {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 234.206px;
	top: 51.083px;
}
#Rectangle_9_jm {
	fill: rgba(242,242,242,1);
}
.Rectangle_9_jm {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 261.562px;
	top: 51.083px;
}
#Rectangle_10_jn {
	fill: rgba(242,242,242,1);
}
.Rectangle_10_jn {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 300.577px;
	top: 79.336px;
}
#Rectangle_11_jo {
	fill: rgba(242,242,242,1);
}
.Rectangle_11_jo {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 317.619px;
	top: 71.263px;
}
#Rectangle_12_jp {
	fill: rgba(242,242,242,1);
}
.Rectangle_12_jp {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 344.975px;
	top: 71.263px;
}
#Rectangle_13_jq {
	fill: rgba(242,242,242,1);
}
.Rectangle_13_jq {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 294.299px;
	top: 287.42px;
}
#Rectangle_14_jr {
	fill: rgba(242,242,242,1);
}
.Rectangle_14_jr {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 311.34px;
	top: 279.348px;
}
#Rectangle_15_js {
	fill: rgba(242,242,242,1);
}
.Rectangle_15_js {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 338.696px;
	top: 279.348px;
}
#Rectangle_16_jt {
	fill: rgba(242,242,242,1);
}
.Rectangle_16_jt {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 187.118px;
	top: 143.465px;
}
#Rectangle_17_ju {
	fill: rgba(242,242,242,1);
}
.Rectangle_17_ju {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 204.16px;
	top: 135.393px;
}
#Rectangle_18_jv {
	fill: rgba(242,242,242,1);
}
.Rectangle_18_jv {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 231.515px;
	top: 135.393px;
}
#Rectangle_19_jw {
	fill: rgba(242,242,242,1);
}
.Rectangle_19_jw {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 206.85px;
	top: 251.543px;
}
#Rectangle_20_jx {
	fill: rgba(242,242,242,1);
}
.Rectangle_20_jx {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 223.892px;
	top: 243.471px;
}
#Rectangle_21_jy {
	fill: rgba(242,242,242,1);
}
.Rectangle_21_jy {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 251.247px;
	top: 243.471px;
}
#Rectangle_22_jz {
	fill: rgba(242,242,242,1);
}
.Rectangle_22_jz {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 307.304px;
	top: 218.806px;
}
#Rectangle_23_j {
	fill: rgba(242,242,242,1);
}
.Rectangle_23_j {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 324.346px;
	top: 210.734px;
}
#Rectangle_24_j {
	fill: rgba(242,242,242,1);
}
.Rectangle_24_j {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 351.702px;
	top: 210.734px;
}
#Path_3_j {
	fill: rgba(47,46,65,1);
}
.Path_3_j {
	overflow: visible;
	position: absolute;
	width: 106.188px;
	height: 47.912px;
	left: 56.18px;
	top: 266.988px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2_j {
	fill: rgba(63,61,86,1);
}
.Ellipse_2_j {
	position: absolute;
	overflow: visible;
	width: 16.043px;
	height: 16.043px;
	left: 62.292px;
	top: 317.573px;
}
#Ellipse_3_j {
	fill: rgba(63,61,86,1);
}
.Ellipse_3_j {
	position: absolute;
	overflow: visible;
	width: 16.043px;
	height: 16.043px;
	left: 141.36px;
	top: 317.573px;
}
#Ellipse_4_j {
	fill: rgba(63,61,86,1);
}
.Ellipse_4_j {
	position: absolute;
	overflow: visible;
	width: 9.931px;
	height: 9.931px;
	left: 237.617px;
	top: 150.269px;
}
#Path_4_j {
	fill: rgba(47,46,65,1);
}
.Path_4_j {
	overflow: visible;
	position: absolute;
	width: 171.779px;
	height: 84.416px;
	left: 28.543px;
	top: 180.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5_j {
	fill: rgba(242,242,242,1);
}
.Path_5_j {
	overflow: visible;
	position: absolute;
	width: 150.879px;
	height: 74.867px;
	left: 36.89px;
	top: 185.219px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6_j {
	fill: rgba(47,46,65,1);
}
.Path_6_j {
	overflow: visible;
	position: absolute;
	width: 34.365px;
	height: 19.197px;
	left: 201.724px;
	top: 153.325px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_25_j {
	fill: rgba(47,46,65,1);
}
.Rectangle_25_j {
	position: absolute;
	overflow: visible;
	width: 154.849px;
	height: 0.764px;
	left: 36.889px;
	top: 205.655px;
}
#Rectangle_26_ka {
	fill: rgba(47,46,65,1);
}
.Rectangle_26_ka {
	position: absolute;
	overflow: visible;
	width: 137.371px;
	height: 0.764px;
	left: 45.5px;
	top: 233.8px;
}
#Rectangle_27_kb {
	fill: rgba(47,46,65,1);
}
.Rectangle_27_kb {
	position: absolute;
	overflow: visible;
	width: 0.764px;
	height: 83.652px;
	left: 114.049px;
	top: 180.445px;
}
#Rectangle_28_kc {
	fill: rgba(47,46,65,1);
}
.Rectangle_28_kc {
	width: 83.83px;
	height: 0.764px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,104.7413,221.8893) rotate(-86.249deg);
	transform-origin: center;
}
#Rectangle_29_kd {
	fill: rgba(47,46,65,1);
}
.Rectangle_29_kd {
	width: 0.764px;
	height: 83.83px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,81.8244,180.3553) rotate(-3.729deg);
	transform-origin: center;
}
#Rectangle_30_ke {
	fill: rgba(47,46,65,1);
}
.Rectangle_30_ke {
	position: absolute;
	overflow: visible;
	width: 402.536px;
	height: 0.934px;
	left: 0px;
	top: 334.357px;
}
#Path_7_kf {
	fill: rgba(160,97,106,1);
}
.Path_7_kf {
	overflow: visible;
	position: absolute;
	width: 37.317px;
	height: 49.118px;
	left: 267.016px;
	top: 26.473px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8_kg {
	opacity: 0.1;
	fill: rgba(0,0,0,1);
}
.Path_8_kg {
	overflow: visible;
	position: absolute;
	width: 37.317px;
	height: 49.118px;
	left: 267.016px;
	top: 26.473px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9_kh {
	fill: rgba(47,46,65,1);
}
.Path_9_kh {
	overflow: visible;
	position: absolute;
	width: 80.654px;
	height: 164.444px;
	left: 255.162px;
	top: 146.639px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10_ki {
	fill: rgba(47,46,65,1);
}
.Path_10_ki {
	overflow: visible;
	position: absolute;
	width: 19.137px;
	height: 29.24px;
	left: 269.408px;
	top: 306.193px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_kj {
	fill: rgba(47,46,65,1);
}
.Path_11_kj {
	overflow: visible;
	position: absolute;
	width: 19.137px;
	height: 29.24px;
	left: 314.38px;
	top: 306.179px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_5_kk {
	fill: rgba(160,97,106,1);
}
.Ellipse_5_kk {
	position: absolute;
	overflow: visible;
	width: 34.447px;
	height: 34.447px;
	left: 263.189px;
	top: 7.176px;
}
#Path_12_kl {
	fill: rgba(0,103,166,1);
}
.Path_12_kl {
	overflow: visible;
	position: absolute;
	width: 35.404px;
	height: 109.357px;
	left: 273.236px;
	top: 56.454px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13_km {
	fill: rgba(63,61,86,1);
}
.Path_13_km {
	overflow: visible;
	position: absolute;
	width: 37.317px;
	height: 122.955px;
	left: 288.545px;
	top: 44.494px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_14_kn {
	fill: rgba(160,97,106,1);
}
.Path_14_kn {
	overflow: visible;
	position: absolute;
	width: 30.217px;
	height: 44.24px;
	left: 305.214px;
	top: 122.477px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_15_ko {
	fill: rgba(47,46,65,1);
}
.Path_15_ko {
	overflow: visible;
	position: absolute;
	width: 39.763px;
	height: 32.104px;
	left: 260.797px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_16_kp {
	fill: rgba(63,61,86,1);
}
.Path_16_kp {
	overflow: visible;
	position: absolute;
	width: 51.302px;
	height: 130.19px;
	left: 240.673px;
	top: 43.527px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_17_kq {
	fill: rgba(63,61,86,1);
}
.Path_17_kq {
	overflow: visible;
	position: absolute;
	width: 23.225px;
	height: 62.196px;
	left: 313.423px;
	top: 66.023px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_18_kr {
	fill: rgba(242,242,242,1);
}
.Path_18_kr {
	overflow: visible;
	position: absolute;
	width: 48.749px;
	height: 58.748px;
	left: 264.274px;
	top: 97.315px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_19_ks {
	fill: rgba(160,97,106,1);
}
.Path_19_ks {
	overflow: visible;
	position: absolute;
	width: 39.231px;
	height: 14.914px;
	left: 249.314px;
	top: 122.594px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20_kt {
	fill: rgba(63,61,86,1);
}
.Path_20_kt {
	overflow: visible;
	position: absolute;
	width: 26.689px;
	height: 76.548px;
	left: 231.237px;
	top: 60.282px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_31_ku {
	fill: rgba(242,242,242,1);
}
.Rectangle_31_ku {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 27.019px;
	top: 158.264px;
}
#Rectangle_32_kv {
	fill: rgba(242,242,242,1);
}
.Rectangle_32_kv {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 44.06px;
	top: 150.192px;
}
#Rectangle_33_kw {
	fill: rgba(242,242,242,1);
}
.Rectangle_33_kw {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 71.417px;
	top: 150.192px;
}
#Rectangle_34_kx {
	fill: rgba(242,242,242,1);
}
.Rectangle_34_kx {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 48.993px;
	top: 25.521px;
}
#Rectangle_35_ky {
	fill: rgba(242,242,242,1);
}
.Rectangle_35_ky {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 93.839px;
	top: 26.193px;
}
#Rectangle_36_kz {
	fill: rgba(242,242,242,1);
}
.Rectangle_36_kz {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 66.483px;
	top: 26.193px;
}
#Rectangle_37_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_37_k {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 112.226px;
	top: 113.867px;
}
#Rectangle_38_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_38_k {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 157.072px;
	top: 114.539px;
}
#Rectangle_39_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_39_k {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 129.716px;
	top: 114.539px;
}
#Rectangle_40_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_40_k {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 5.493px;
	top: 113.418px;
}
#Rectangle_41_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_41_k {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 50.338px;
	top: 114.091px;
}
#Rectangle_42_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_42_k {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 22.983px;
	top: 114.091px;
}
#Rectangle_43_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_43_k {
	position: absolute;
	overflow: visible;
	width: 62.784px;
	height: 0.897px;
	left: 80.834px;
	top: 68.573px;
}
#Rectangle_44_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_44_k {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 97.875px;
	top: 60.5px;
}
#Rectangle_45_k {
	fill: rgba(242,242,242,1);
}
.Rectangle_45_k {
	position: absolute;
	overflow: visible;
	width: 0.897px;
	height: 8.296px;
	left: 125.231px;
	top: 60.5px;
}
#Check_out_desired__products_as_k {
	opacity: 0.85;
	mix-blend-mode: multiply;
	filter: drop-shadow(0px 3px 6px rgba(125, 125, 125, 0.78));
	left: 59.5px;
	top: 76.5px;
	position: absolute;
	overflow: visible;
	width: 761px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -9px;
	text-align: center;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	color: rgba(0,51,255,1);
}
#Group_1435 {
	position: absolute;
	width: 1920px;
	height: 256px;
	left: 0px;
	top: -56px;
	overflow: visible;
}
#Group_17_lb {
	position: absolute;
	width: 1920px;
	height: 256px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_12_lc {
	position: absolute;
	width: 1920px;
	height: 121px;
	left: 0px;
	top: 56px;
	overflow: visible;
}
#Rectangle_1_le {
	opacity: 0.7;
	fill: url(#Rectangle_1_le);
}
.Rectangle_1_le {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 121px;
	left: 0px;
	top: 0px;
}
#Rectangle_2_lf {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_lf {
	position: absolute;
	overflow: visible;
	width: 841px;
	height: 76px;
	left: 749px;
	top: 27px;
}
#Icon_ionic-ios-search_lg {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-ios-search_lg {
	overflow: visible;
	position: absolute;
	width: 39.961px;
	height: 39.971px;
	left: 1523.019px;
	top: 45.014px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1_lh {
	position: absolute;
	width: 88px;
	height: 84px;
	left: 1788px;
	top: 23px;
	overflow: visible;
	transition: all 0.3s snap;
	--web-animation: fadein 0.3s snap;
	--web-action-type: page;
	--web-action-target: login.html;
	cursor: pointer;
}
#bx-menu-alt-left_li {
	fill: rgba(0,0,0,1);
}
.bx-menu-alt-left_li {
	overflow: visible;
	position: absolute;
	width: 59.249px;
	height: 44.437px;
	left: 48.694px;
	top: 42.782px;
	transform: matrix(1,0,0,1,0,0);
	transition: all 0.2s ease-in-out;
	--web-animation: fadein 0.2s ease-in-out;
	--web-action-type: page;
	--web-action-target: index_scroll_category.html;
	cursor: pointer;
}
#Group_15_lj {
	position: absolute;
	width: 256px;
	height: 256px;
	left: 281px;
	top: 0px;
	overflow: visible;
	transition: all 0.3s snap;
	--web-animation: fadein 0.3s snap;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
}
#Union_1_lk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Union_1_lk {
	overflow: visible;
	position: absolute;
	width: 111.668px;
	height: 172.086px;
	transform: translate(-281px, 56px) matrix(1,0,0,1,355.986,-22.7775) rotate(82deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Produtz_Hunt_ll {
	position: absolute;
	width: 256px;
	height: 256px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Search_for_a_product_to_compar_lm {
	opacity: 0.64;
	left: 806px;
	top: 96px;
	position: absolute;
	overflow: visible;
	width: 460px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}